@page
@model BankStartWeb.Pages.AdminManager.CreateUserModel
@{
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group row">
                            <div class="col-lg-6 col-form-label">
                                <input class="form-control" asp-for="UserName" placeholder="Enter a user name..." /> 
                                <span asp-validation-for="UserName" style="color: red" class="field-validation-error"></span>
                            </div>
                            <div class="col-lg-6 col-form-label">
                                <input class="form-control" asp-for="Email" placeholder="Enter email address..." /> 
                                <span asp-validation-for="Email" style="color: red" class="field-validation-error"></span>
                            </div>
                            <div class="col-lg-6 col-form-label">
                                <input class="form-control" asp-for="Password" placeholder="Enter a password..." /> 
                                <span asp-validation-for="Password" style="color: red" class="field-validation-error"></span>
                            </div>
                            <div class="col-lg-3 col-form-label">
                                <select class="form-control" asp-for="Roles" asp-items="@Model.AllRoles" ></select>
                                <span asp-validation-for="Roles" style="color: red" class="field-validation-error"></span>
                            </div>

                        </div>
                        <button class="btn btn-primary" type="submit">Add user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>