<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a>
                    <h4 style="color: white"><b>Gong's Bank</b></h4>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li >
                        <a asp-page="/Index" aria-expanded="false">
                            <i class='bx bx-home'></i><span class="nav-text">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class='bx bx-table' ></i><span class="nav-text">Table</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-page="/CustomerManager/CustomerList" aria-expanded="false">Customers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class='bx bxs-user-plus' ></i><span class="nav-text">Add</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-page="/CustomerManager/Create" >Add customer</a></li>
                        </ul>
                    </li>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class='bx bxs-lock'></i><span class="nav-text">Admin</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-page="/AdminManager/UserList" >Users</a></li>
                                <li><a asp-page="/AdminManager/CreateUser" >Add new user</a></li>
                            </ul>
                        </li>
                    }

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class='bx bxs-user-rectangle' ></i><span class="nav-text">Account</span>
                        </a>
                        <ul aria-expanded="false">
                            <partial name="_LoginPartial" />
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
          
            <div class="row page-titles mx-0">
                 <div class="col p-md-0">
                    <ol style="color:#6610f2 " class="breadcrumb">
                        <li class="breadcrumb-item  "><a asp-page="/Index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
                
            </div>
            <!-- row -->

            <div class="container-fluid">

            </div>
            <!-- #/ container -->
            @RenderBody()
        </div>

        <!--**********************************
            Content body end
        ***********************************-->
       
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/plugins/common/common.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/gleek.js"></script>
    <script src="/js/styleSwitcher.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>