@page
@model BankStartWeb.Pages.AccountManager.TransactionListModel
@{
}

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div>
                    <h3 style="color:indigo ">@Model.AccountType</h3>
                </div>
            </div>
            
            <div class="table-responsive">
                <table id="posts-table" class="table table-hover">
                    <thead>
                    <tr style="color: cornflowerblue">
                        <th>Type</th>
                        <th>Operation</th>
                        <th>New Balance</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                   
                    </tbody>
                </table>
                <div>
                    <h3 style="color: green">
                        Current Balance: @Model.Balance$
                    </h3>
                </div>
                <button type="button" class="btn mb-1 btn-primary">
                    <a style="color: white" href="javascript: fetchMore();">See More</a>
                </button>
                
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>
        pageNum = 1;

        function fetchMore() {
            fetch("TransactionList?handler=FetchMore&pageNum=" + pageNum + "&customerId=@Model.Id")
                .then((response) => response.json())
                .then((json) => {
                        pageNum = pageNum + 1;
                        json.items.forEach(tableElements);

                        console.log(json);
                    }
                );
        }

        function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
            `<tr>
                <td>${element.id}</td>
                <td>${element.type}</td>
                <td>${element.operation}</td>
                <td>${element.date}</td>
                <td>${element.amount}</td>
                <td>${element.newBalance}</td>
        
                </tr>`;
        }

        document.addEventListener("DOMContentLoaded",
            function() {
                fetchMore();
            });


    </script>
}




