@page
@model BankStartWeb.Pages.AccountManager.WithdrawalModel
@{
}


<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 ">
            <div class="bg-white p-5 rounded mt-5">
                <h1>Withdrawal</h1>
                <form method="post">
                    <div class="form-group">
                        <label class="d-flex" asp-for="Amount">Amount</label>
                        <input asp-for="Amount" class="form-group"/>
                        <span class="d-block text-danger" asp-validation-for="Amount"></span>
                    </div>
                    <button class="btn btn-primary btn-round" type="submit" asp-route-customerId="@Model.CustomerId" asp-route-accountId="@Model.AccountId">Make a withdrawal</button>
                </form>
            </div>
        </div>
    </div>
</div>