@page
@model BankStartWeb.Pages.CustomerManager.AddAccountModel
@{
}

<h1>Add Account</h1>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 ">
            <div class="bg-white p-5 rounded mt-5">
                <h1>Add Account</h1>
                <h4>Account number:@Model.CustomerId</h4>
                <form method="post">
                    <div class="form-group">
                        <label class="d-flex" asp-for="AccountType">Account Type</label>
                        <select asp-for="AccountType" class="form-group" asp-items="@Model.SetAccountTypes"></select>
                        <span class="d-block text-danger" asp-validation-for="AccountType"></span>
                    </div>
                    <button class="btn btn-primary btn-round" type="submit" >Add Account Type</button>
                </form>
            </div>
        </div>
    </div>
</div>